<section>
  <div class="cont">
    <div class="container sub-cont">
      <h3 class="text-center">Colectivo de Trabajo</h3>
      <p class="text-justify">Somos un Colectivo de Trabajo Informático que desarrolla sistemas y diseña aplicaciones web con las lógicas del comercio justo.</p>
      <p class="text-justify">Luchamos para que no existan relaciones de explotación, por eso nos organizamos de forma igualitaria y democrática, aportando todos
      desde nuestras particularidades, desde nuestros saberes, Buscamos que Coodesoft sea un espacio de libertad, de trabajo y de transformación,
      en donde podamos elegir nuestra vida económica para poder desarrollarnos dignamente.</p>

      <h3 class="text-center">Software Libre</h3>
      <p class="text-justify">Utilizamos Software Libre por que es cooperativo y colaborativo, se desarrolla de forma abierta y comunitaria, se aportan mejoras colectivamente
      y por lo tanto cada mejora nos beneficia a todos. </p>
    </div>
  </div>
</section>
