<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [ngClass]="{'fixed-top':fixedTop}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container" id="navbarText">
    <div class="row justify-content-center col-12"><div class="col-auto">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> <a class="nav-link" href="#">INICIO <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">NOSOTROS</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">EQUIPO</a>  </li>
        <li class="nav-item"> <a class="nav-link" href="#">PORTFOLIO</a>  </li>
        <li class="nav-item"> <a class="nav-link" href="#">SERVICIOS</a>  </li>
        <li class="nav-item"> <a class="nav-link" href="#">CONTACTO</a>  </li>
      </ul>
    </div></div>
  </div>
</nav>
